transcriptionSpeaker_001.csv
transcriptionSpeaker_002.csv
transcriptionSpeaker_006.csv
transcriptionSpeaker_007.csv
transcriptionSpeaker_011.csv
transcriptionTest.csv
transcription.csv
transcription_updated.csv
wer_above_0.csv
ngramCounter.py
whisper-finetunedBACKUP
whisper-finetuned
finetunedModelBackup.ipynb